{{yield}}
    <div class="hover-tabs">
      <ul class="tab-list">
        <li>
          {{#link-to 'about.pals' tagName="li"}}<a {{action 'pressed' on='click'}} href="">PetPals</a>{{/link-to}}
        </li>
        <li>
          {{#link-to 'about.pettherapy' tagName="li"}}<a  {{action 'pressed' on='click'}} href="">Pet Therapy</a>{{/link-to}}
        </li>
        <li>
          {{#link-to 'about.testimonials' tagName="li"}}<a {{action 'pressed' on='click'}} href="">Testimonials</a>{{/link-to}}
        </li>
      </ul>
    </div>
    <div class="content-body">
    {{outlet}}
  </div>
