<h2>Blog Entry</h2>
<div class="admin-blog">
  <ul>
    <li>
      {{input type="text" value=model.image class="blog-pic" placeholder="Image URL" autofocus="autofocus"}}
      <img class="pic" src="/assets/images/pawLogo.png" />
      <input type="file" value="upload" onChange= {{action 'upload'}} id="fileButton" />
    </li>
    <li>
      {{input type="text" value=model.title class="blog-title" placeholder="Title" autofocus="autofocus"}}
    </li>
    <li>
      <button {{action 'fetchDate' model}} class="allbuttons"><i class="fa fa-calendar" aria-hidden="true"></i> Date</button>
      {{input type="text" value=model.date class="blog-date" placeholder="Date" autofocus="autofocus"}}
    </li>
    <li>
      {{textarea rows="4" cols="70" value=model.body class="blog-body" placeholder="Blog Post" autofocus="autofocus"}}
    </li>
    <li>
      <button disabled= {{isDisabled}} {{action 'savePost' model}} class="allbuttons"><i class="fa fa-plus" aria-hidden="true"></i> New Blog</button>
    </li>
    <li>
      <button class="allbuttons editbutton">{{#link-to 'petpalsadmin.indexedit'}}<a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit Blogs</a>{{/link-to}}</button>
    </li>
  </ul>
  {{#if responseMessage}}
    <div class="alert-success">{{responseMessage}}</div>

  {{/if}}
</div>
