<h2>Blog Edit</h2>
<div class="row">
  {{#each model as |blog-post|}}
    <div class="post-container">
        <div class="title-container">
          <p class='date'>{{blog-post.date}}</p>
          <button class="allbuttons" {{action 'deletePost' blog-post}}><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
          <h3 class="blog-title">{{blog-post.title}}</h3>
          {{#if blog-post.image}}
          <div class="blog-img">
                <img class="teams-Img" src="{{blog-post.image}}" />
            </div>
            {{/if}}
        </div>
        <div class="panel-body">
          <p class='blogBody'>{{blog-post.body}}</p>
        </div>
        <!-- <div class="post-footer">
          <button class="allbuttons" {{action 'deletePost' blog-post}}><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </div> -->
      </div>
  {{/each}}
</div>
