<h2>Teams Edit</h2>
<div id="blog-main">
  {{#each model as |teams|}}
    <div id="blog-container">
      <div id="blog-title">
        <ul>
          <li>
            <img class="teamsImg" src="{{teams.image}}" />
          </li>
          <li>
            <h3 id="title">{{teams.name}}</h3>
          </li>
        </ul>
      </div>
      <div id="blog-body">
        <p>{{teams.bio}}</p>
      </div>
      <div class="post-footer">
        <button  {{action 'deleteTeam' teams}} class="all-buttons">Delete Team</button>
      </div>
    </div>
  {{/each}}
</div>




<!-- <div id="blog-main">
  {{#each model as |teams|}}
    <div id="blog-container">
      <div id="blog-title">
        <ul>
          <li>
            <img class="teamsImg" src="{{teams.image}}" />
          </li>
          <li>
            <h3 id="title">{{teams.name}}</h3>
          </li>
        </ul>
      </div>
      <div id="blog-body">
        <p>{{teams.bio}}</p>
      </div>
    </div>
    <button disabled= {{isDisabled}} {{action 'deleteTeam' model}} class="all-buttons">New Team</button>
  </li>
</ul>
{{#if responseMessage}}
  <div class="alert-success">{{responseMessage}}</div>
{{/if}}
  {{/each}}
</div> -->
