<div class="admin-blog">
  <ul>
    <li>
      {{input type="text"  value=model.image class="team-pic" placeholder="picture URL" autofocus="autofocus"}}
      <img src="assets/images/first.jpg"/>
      <input type="file" value="upload" onChange= {{action 'upload'}} id="fileButton"/>
    </li>
    <li>
      {{input type="text" value=model.name class="team-name" placeholder="Team Name" autofocus="autofocus"}}
    </li>
    <li>
      {{textarea rows="4" cols="70" value=model.bio class="team-bio" placeholder="Team Bio" autofocus="autofocus"}}
    </li>
    <li>
      <button disabled= {{isDisabled}} {{action 'saveTeam' model}} class="all-buttons">New Team</button>
    </li>
  </ul>
  {{#if responseMessage}}
    <div class="alert-success">{{responseMessage}}</div>
  {{/if}}
</div>
<div id="blog-main">
  {{#each model as |teams|}}
    <div id="blog-container">
      <div id="blog-title">
        <ul>
          <li>
            <p>{{teams.image}}</p>
          </li>
          <li>
            <h3 id="title">{{teams.name}}</h3>
          </li>
        </ul>
      </div>
      <div id="blog-body">
        <p>{{teams.bio}}</p>
      </div>
      <button class="all-buttons" {{action 'deleteTeam' teams}}>Delete</button>
    </div>
  {{/each}}
</div>
