<h2>Add a New Team</h2>
<div class="admin-blog">
  <ul>
    <li>
      {{input type="text"  value=model.image class="team-pic" placeholder="picture URL" autofocus="autofocus"}}
      <img  class="pic" src="/assets/images/pawLogo.png"/>
      <input type="file" value="upload" onChange= {{action 'upload'}} id="fileButton"/>
    </li>
    <li>
      {{input type="text" value=model.name class="team-name" placeholder="Team Name" autofocus="autofocus"}}
    </li>
    <li>
      {{textarea rows="4" cols="70" value=model.bio class="team-bio" placeholder="Team Bio" autofocus="autofocus"}}
    </li>
    <li>
      <button disabled= {{isDisabled}} {{action 'saveTeam' model}} class="allbuttons newbutton"><i class="fa fa-plus" aria-hidden="true"></i> New Team</button>
    </li>
    <li>
        <button class="allbuttons editbutton">{{#link-to 'petpalsadmin.teamsedit'}}<a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit Teams</a>{{/link-to}}</button>
    </li>
  </ul>
  {{#if responseMessage}}
    <div class="alert-success">{{responseMessage}}</div>
  {{/if}}
</div>
