{{outlet}}
<div class="content-full">
  <div id='contact-container'>
  <ul>
    <li class='form'>
    {{input type="name" value=yourname class="contact-input name" placeholder="name." autofocus="autofocus"}}
  </li>
    <li class='form'>
    {{input type="email" value=emailAddress class="contact-input email" placeholder="e-mail address." autofocus="autofocus"}}
  </li>
  <li class='form'>
  {{textarea rows="4" cols="50"  value=message class="contact-input message" placeholder="message" autofocus="autofocus"}}
</li>
  <li>
      <button disabled={{isDisabled}} {{action 'saveMessage'}} class="all-buttons">Contact Us</button>
    </li>
  </ul>
  <div class="social-icons">
    <ul class="icons-list">
      <li>
        <p><i class="fa fa-facebook-square" aria-hidden="true"></i></p>
      </li>
      <li>
        <p><i class="fa fa-twitter-square" aria-hidden="true"></i></p>
      </li>
      <li>
        <p><i class="fa fa-instagram" aria-hidden="true"></i></p>
      </li>
    </ul>
  </div>
  {{#if responseMessage}}
  <div class="alert-success">{{responseMessage}}</div>
  {{/if}}
  </div>
</div>
