<footer>

  <div class="login-donate">
     <!-- <a {{action "signIn" "google"}} class="login">Google Login</a> -->

  <!-- <p>is authed: {{ hooplah.isAuthenticated }}</p> -->
  <!-- <p>is user: {{ hooplah.currentUser.displayName }}</p> -->
  {{#if hooplah.isAuthenticated }}
  <div id='loginName'>
    <p>Currently logged in as {{hooplah.currentUser.displayName}}</p>
  </div>
  <div class='adminButtons'>
    <button {{action "signOut" }} class="allbuttons adminbutton">Sign out</button>
    <button class="allbuttons adminbutton">{{#link-to 'petpalsadmin'}}<a href="">Admin</a>{{/link-to}}</button>
  </div>

  {{else}}
  <button {{action "signIn" "google"}} class="allbuttons googleButton">Google Login</button>
 {{/if}}

 </div>
</footer>
