<footer>

  <div class="login-donate">
    <a {{action "signIn" "google"}} class="login">Google Login</a>
  </div>
  <!-- <p>is authed: {{ hooplah.isAuthenticated }}</p> -->
  <!-- <p>is user: {{ hooplah.currentUser.displayName }}</p> -->
  {{#if hooplah.isAuthenticated }}
  <span>Currently logged in as {{hooplah.currentUser.displayName}} <a {{action "signOut" "google"}}>Sign out</a></span>
 {{/if}}
</footer>
