<footer>

  <div class="login-donate">
     <!-- <a {{action "signIn" "google"}} class="login">Google Login</a> -->

  <!-- <p>is authed: {{ hooplah.isAuthenticated }}</p> -->
  <!-- <p>is user: {{ hooplah.currentUser.displayName }}</p> -->
  {{#if hooplah.isAuthenticated }}
  <div>
  <p>Currently logged in as {{hooplah.currentUser.displayName}}</p>
</div>
<div>
  <button {{action "signOut" }} class="allbuttons editbutton">Sign out</button>
</div>
<div>
<button class="allbuttons editbutton">{{#link-to 'petpalsadmin'}}<a href="">Admin</a>{{/link-to}}</button>
</div>
  {{else}}
  <button {{action "signIn" "google"}} class="allbuttons">Google Login</button>
 {{/if}}
 </div>
</footer>
